<header
    style="background-color: black; color: white; display: flex; padding-left: 2rem; padding-right: 2rem; align-items: center;">
    <h3 style="flex: 1;">RigLearn</h3>
    <nav style="flex:1">
        <ul style="display: flex; list-style-type: none; display: flex; gap: 4rem; align-items: center;">
            <li>
                <a href="#" style="text-decoration: none; color: inherit;">Home</a>
            </li>
            <li>
                <a href="#" style="text-decoration: none; color: inherit;">Profile</a>
            </li>
        </ul>
    </nav>
</header>